body {
    font-family: Arial, sans-serif;
    background: #f5f7fa;
    margin: 0;
    padding: 40px;
    text-align: center;
}

h1 {
    color: #333;
    font-size: 2.5rem;
}

.container,
.container1,
.container2 {
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    display: inline-block;
}

.containe1 {
    background: white;
}

.container {
    background: #06f10e;
}
.container2 {
    background: hwb(16 2% 5%);
}

